.container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.table {
  & {
    border-collapse: collapse;
  }

  tr {
    border-bottom: 1pt solid #141e46;
  }

  td,
  th {
    min-width: 180px;
    text-align: left;
    padding: 10px 10px;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }
}

.bookRow {
  cursor: pointer;

  &:hover {
    background-color: #d9d9d947;
  }

  &:global(.isRemoved) {
    opacity: 0.5;
  }
}

.loadMore {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
