$tableMinWidth: 800px;

.container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.table {
  & {
    min-width: $tableMinWidth;
    border-collapse: collapse;
  }

  tr {
    border-bottom: 1pt solid #141e46;
  }

  td,
  th {
    min-width: 180px;
    text-align: left;
    padding: 10px 10px;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.skeleton {
  min-width: $tableMinWidth;

  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  p {
    height: 50px;
    margin: 10px 0px;
    background-color: #0003;
  }
}

.bookRow {
  cursor: pointer;

  &:hover {
    background-color: #d9d9d947;
  }

  &:global(.isRemoved) {
    opacity: 0.5;
  }
}

.loadMore {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
